<!DOCTYPE html>
<html>
  <head>
    <title>post_test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>post_test</h1>
    <p>Welcome to post_test</p>
    <form action="/" method="POST">
    <label> plant_id</label>
    <input type="text" name="plant_id" placeholder="plant_id">
    <label> user_id</label>
    <input type="text" name="user_id" placeholder="user_id">
    <label> reading</label>
    <input type="text" name="reading" placeholder="reading">
    <input type="submit">
    </form>

  </body>
</html>